{% extends 'base.html' %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <h2>User Accounts</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>

    <h2>Transactions</h2>
    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{ transaction.recipient.username }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.currency }}</td>
                <td>{{ transaction.date|date:"Y-m-d H:i" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
